{% extends "base.html" %}

{% block title %}password change{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Change Password</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {% if form.new_password1.help_text %}
        <div class="text-left" style="margin-left: 400px">
            <p>{{ form.new_password1.help_text|safe }}</p>
        </div>
    {% endif %}
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <!--原密码-->
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {% comment %}{{ form.old_password.errors }}{% endcomment %}
                {{ form.old_password.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.old_password }}</div>
        </div>

        <!--新密码-->
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {% comment %}{{ form.new_password1.errors }}{% endcomment %}
                {{ form.new_password1.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            {% comment %}{% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}{% endcomment %}
        </div>

        <!--新密码确认-->
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {% comment %}{{ form.new_password2.errors }}{% endcomment %}
                {{ form.new_password2.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            {% comment %}{% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
             {% endif %}{% endcomment %}
        </div>

        <!--提交按钮-->
        <div class="submit-row">
            <input type="submit" value="Change my password" class="btn btn-primary btn-lg"/>
        </div>
    </form>
</div>
{% endblock %}
