{% load staticfiles %}
<div class="container" style="width: 100%;padding:0px;">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.itdiffer.com" style="padding: 8px 20px;">
                <img src="{% static 'images/user.jpg' %}" width="36px;" class="img-circle"/>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="{% url 'article:article_column' %}">文章管理</a></li>
                <li><a href="{% url 'image:list_images' %}">图片管理</a></li>
                <li><a href="{% url 'course:manage_course' %}">课程管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                <li>
                    <div class="dropdown" style="margin-top: 15px">
                            <a class="dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown">
                                {{ user.username }}
                                <span class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                                <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                                <li><a href="{% url 'article:list_article_titles' %}">返回前台</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="{% url 'account:user_logout' %}">退出</a></li>
            </ul>
        </div>
    </nav>

</div>